@import "variables.scss";
// article card
section {
  max-width: $content-width;
  .headline {
    .operation {
      &:hover {
        background: hsla(0, 0%, 10%, 1);
      }
    }
  }

  .is-grid-card {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    //justify-content: space-evenly;
  }

  .is-grid-poster-wall {
    display: grid;
    grid-gap: 1rem;
    //grid-template-columns: repeat(auto-fill, 424px);
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 578px) {
    .is-grid-poster-wall {
      grid-gap: 1rem;
      grid-template-columns: repeat(1, 1fr);
    }
  }

  @media (max-width: 481px) {
    .is-grid-card {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(1, 1fr);
      //justify-content: space-evenly;
    }
  }

  .card {
    //height: 100%;
    //width: 100%;
    object-fit: cover;
    //width: 288px;
    height: 300px;
    background: hsla(0, 0%, 100%, 1);
    overflow: hidden;

    &:hover {
      outline: 1px solid #f1b335;
    }

    img {
      transition: transform 0.5s;

      &:hover {
        transform: scale(1.1);
      }
    }

    img.tipoc {
      //width: 288px;
      width: 100%;
      height: 164px;
      object-fit: cover;
    }

    .copywriters {
      height: 138px;

      .pre_title {
        /* Reviews */
        font-family: "Rajdhani SemiBold";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        /* identical to box height, or 129% */
        text-transform: uppercase;
        font-feature-settings:
          "pnum" on,
          "lnum" on;

        /* 主色 */
        color: #f1b335;
      }

      .title {
        /* LattePanda Review: Alternative Of Raspberry Pi */
        font-family: "Rajdhani";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        /* or 130% */
        font-feature-settings:
          "pnum" on,
          "lnum" on;

        color: #1a1a1a;
      }

      .author {
        /* ZimaBoard - 01/06/2023 */
        font-family: "Mulish";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        /* identical to box height, or 129% */
        font-feature-settings:
          "pnum" on,
          "lnum" on;

        color: #1a1a1a;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  @media (min-width: 482px) {
    .headline {
      .title {
        /* Reviews */
        font-family: "Rajdhani";
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 32px;
        /* identical to box height, or 114% */
        font-feature-settings:
          "pnum" on,
          "lnum" on;

        color: #1a1a1a;

        .badge {
          /* Total 7 articles */
          font-family: "Rajdhani";
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 24px;
          /* identical to box height, or 133% */
          font-feature-settings:
            "pnum" on,
            "lnum" on;

          color: #1a1a1a;
        }
      }

      .operation {
        /* Rectangle 3468524 */
        height: 40px;
        width: 106px;
        box-sizing: border-box;
        border: 1px solid #1a1a1a;

        /* View All */
        font-family: "Rajdhani";
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        /* identical to box height, or 133% */
        font-feature-settings:
          "pnum" on,
          "lnum" on;

        /* 主色 */
        color: #f1b335;
      }
    }
  }
  @media (max-width: 481px) {
    .headline {
      .title {
        /* Media Servers */
        font-family: "Rajdhani";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        /* identical to box height, or 125% */
        font-feature-settings:
          "pnum" on,
          "lnum" on;

        color: #1a1a1a;

        .badge {
          /* Total 10 articles */
          font-family: "Rajdhani";
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 18px;
          /* identical to box height, or 129% */
          font-feature-settings:
            "pnum" on,
            "lnum" on;

          color: #1a1a1a;
        }
      }

      .operation {
        /* Rectangle 3468524 */
        height: 30px;
        width: 70px;
        box-sizing: border-box;
        border: 1px solid #1a1a1a;

        /* View All */
        font-family: "Rajdhani";
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        /* identical to box height, or 133% */
        font-feature-settings:
          "pnum" on,
          "lnum" on;

        /* 主色 */
        color: #f1b335;
      }
    }

    .card {
      width: 327px;
      height: 322px;

      img.tipoc {
        width: 327px;
        height: 184px;
      }

      &:not(:first-child) {
        &:not(.cate-list) {
          display: none;
        }
      }
    }
  }
}
// ------------------------------------
// main text
.article {
  padding: 3rem !important;
  width: 48.5rem;
  background: #ffffff;
  a {
    color: #006cd9;
  }

  // text.text
  h1,
  h2,
  h3,
  h4,
  h5 {
    display: block;
    // 标题内容常规间距 16px
    margin-bottom: 1rem;
  }

  ul {
    padding-left: 32px;
    display: flex;
    flex-direction: column;

    li {
      list-style-type: disc;
      line-height: 26px;

      /* Part 1. What is ZimaBoard and its features? */
      font-family: "Mulish";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      /* identical to box height, or 130% */
      font-feature-settings:
        "pnum" on,
        "lnum" on;

      strong {
        font-family: "Rajdhani";
        font-weight: 600;
        font-size: 20px;
      }
    }

    li:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  // 段落变更间距
  p + h1,
  p + h2,
  p + h3,
  p + h4,
  p + h5,
  ul + h1,
  ul + h2,
  ul + h3,
  ul + h4,
  ul + h5,
  ul + p,
  p + ul {
    margin-top: 2.5rem;
  }
  p + p {
    margin-top: 2rem;
  }
  h1 + h2 {
    margin-top: 2rem; // + h1 margin-bottom 1rem
  }
  h2 + h3,
  h3 + h4 {
    margin-top: 1.5rem; // + h2 margin-bottom 1rem
  }

  // .text
  p {
    // margin-bottom: 40px;

    // .text
    p {
      margin: 2rem 0;
    }
  }

  .wp-block-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .article_content img {
    margin: 2rem 0;
    // width: 100%;
    height: auto;
  }

  // unuse.
  .navigation-part {
    margin: 40px 0;
    display: flex;
    flex-direction: column;

    .navigation-item {
      /* Part 1. What is ZimaBoard and its features? */
      font-family: "Rajdhani";
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 26px;
      /* identical to box height, or 130% */
      font-feature-settings:
        "pnum" on,
        "lnum" on;

      /* 链接色 */
      color: #006cd9;
    }
  }
}

@media (min-width: 482px) {
  .article {
    .reviews {
      /* Reviews */
      font-family: "Rajdhani SemiBold";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      /* identical to box height, or 133% */
      text-transform: capitalize;
      font-feature-settings:
        "pnum" on,
        "lnum" on;

      color: #1a1a1a;
    }

    // title.title {
    div.title,
    h1 {
      margin: 1rem 0;
      /* ZimaBoard – Kodi Media Server: Stream Your Favorite Content Hassle-Free */
      font-family: "Rajdhani";
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 48px;
      /* or 120% */
      font-feature-settings:
        "pnum" on,
        "lnum" on;

      color: #1a1a1a;
    }

    h2 {
      /* Part 1. What is ZimaBoard and its features? */
      font-family: "Rajdhani";
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 40px;
      /* identical to box height, or 125% */
      font-feature-settings:
        "pnum" on,
        "lnum" on;

      color: #1a1a1a;
    }

    h3 {
      /* 2. Configuring ZimaBoard for optimal streaming experience */
      font-family: "Rajdhani";
      font-style: normal;
      font-weight: 700;
      font-size: 28px;
      line-height: 32px;
      /* or 114% */
      font-feature-settings:
        "pnum" on,
        "lnum" on;

      color: #1a1a1a;
    }

    h4 {
      /* Network settings and connectivity */
      font-family: "Rajdhani";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      /* identical to box height, or 125% */
      font-feature-settings:
        "pnum" on,
        "lnum" on;

      color: #1a1a1a;
    }
    // }

    // .text
    p {
      font-family: "Mulish";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      /* or 162% */
      text-transform: capitalize;
      font-feature-settings:
        "pnum" on,
        "lnum" on;

      color: #1a1a1a;
    }
  }
}

@media (max-width: 481px) {
  .article {
    padding: 2rem 1.5rem 4rem;
    margin-top: 15rem;

    .reviews {
      /* Reviews */
      font-family: "Rajdhani SemiBold";
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
      /* identical to box height, or 129% */
      text-transform: capitalize;
      font-feature-settings:
        "pnum" on,
        "lnum" on;

      color: #1a1a1a;
    }

    // title.title {
    div.title,
    h1 {
      /* ZimaBoard – Kodi Media Server: Stream Your Favorite Content Hassle-Free */
      font-family: "Rajdhani";
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 40px;
      /* or 125% */
      font-feature-settings:
        "pnum" on,
        "lnum" on;

      color: #1a1a1a;
    }

    h2 {
      /* Part 1. What is ZimaBoard and its features? */
      font-family: "Rajdhani";
      font-style: normal;
      font-weight: 700;
      font-size: 28px;
      line-height: 32px;
      /* or 114% */
      font-feature-settings:
        "pnum" on,
        "lnum" on;

      color: #1a1a1a;
    }

    h3 {
      /* 1. Installing ZimaBoard operating system for seamless performance */
      font-family: "Rajdhani";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      /* or 125% */
      font-feature-settings:
        "pnum" on,
        "lnum" on;

      color: #1a1a1a;
    }

    h4 {
      /* Final Verdict: */
      font-family: "Rajdhani";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      /* identical to box height, or 125% */
      font-feature-settings:
        "pnum" on,
        "lnum" on;

      color: #1a1a1a;
    }
    // }

    // .text {
    p {
      font-family: "Mulish";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      /* or 162% */
      text-transform: capitalize;
      font-feature-settings:
        "pnum" on,
        "lnum" on;

      color: #1a1a1a;
    }
  }
}

// background img
.background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 480px;
  background-size: cover;
  background-position: center;

  background-color: #fafafa !important;
  // background: url(../img/article/1.webp) no-repeat;
  // background-size: 100% 480px;
  // background-position: center top;
}

@media (max-width: 481px) {
  .background {
    height: 240px;
    // background-size: auto 240px;
  }
}
