body {
  height: 100%;
}

.body {
  //flex-direction: column;
  //width: 100vw;
  //padding-top: 108px;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  background: hsla(0, 0%, 98%, 1);

  aside.left {
    position: fixed;
    left: 0;
    top: 260px;

    .content-ref {
      margin-bottom: 16px;

      font-family: 'Rajdhani SemiBold';
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      /* identical to box height, or 133% */
      font-feature-settings: 'pnum' on, 'lnum' on;

      color: rgba(26, 26, 26, 0.2);

      img {
        display: none;
      }

      &.active {
        img {
          display: flex;
        }

        font-family: 'Rajdhani';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        /* identical to box height, or 130% */
        font-feature-settings: 'pnum' on, 'lnum' on;

        color: #1A1A1A;
      }
    }
  }

  aside.right {
    position: fixed;
    right: 1.5rem;
    top: 32rem;
    width: 17.75rem;
    background: #FFFFFF;
    padding: 1.5rem;

    .title {
      /* Share This Article */
      font-family: 'Rajdhani';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 26px;
      /* identical to box height, or 130% */
      text-transform: capitalize;
      font-feature-settings: 'pnum' on, 'lnum' on;

      color: #1A1A1A;
    }

    .icon {
      background-color: #2E2E2E;

      &:not(:last-child) {
        margin-right: 0.69rem;
      }

      &:hover {
        cursor: pointer;
        background-color: #F1B335;
      }
    }

    .topic {
      margin-bottom: 8px;
      /* Odyssey X86J4125 vs ZimaBoard: Which Mini PC Reigns Supreme? */
      font-family: 'Mulish';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      /* or 133% */
      text-transform: capitalize;
      font-feature-settings: 'pnum' on, 'lnum' on;

      color: #1A1A1A;

      &:hover {
        text-decoration-line: underline;
      }

      .date {
        /* 06/16/2023 */
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        /* identical to box height, or 171% */
        text-transform: capitalize;
        font-feature-settings: 'pnum' on, 'lnum' on;
        text-decoration-line: none;

        color: #666666;
      }

      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }

  @media (max-width: 1440px) {
    aside {
      display: none;
    }
  }

  .feature-article {
    background: hsla(0, 0%, 2%, 1);
    //width: 896px;
    //height: 600px;
    //width: 100%;
    height: 100%;
    padding: 1rem;

    .bgImgSrc1 {
      background-image: url("../img/AD_blocker/1.png");
    }

    .bgImgSrc2 {
      background-image: url("../img/AD_blocker/2.png");
    }

    .bgImg {
      background-size: auto 100%;
      background-position: center;
      //width: 424px;
      width: 100%;
      height: 568px;
      object-fit: cover;
      padding: 2.5rem;
      transition: background .5s;

      &:hover {
        background-size: auto 110%;
      }

      .article_tag {
        /* Personal NAS */
        font-family: 'Rajdhani SemiBold';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        /* identical to box height, or 129% */
        text-transform: uppercase;
        font-feature-settings: 'pnum' on, 'lnum' on;

        /* 主色 */
        color: #F1B335;
      }

      .article_title {
        /* How to Block Ads on Instagram with ZimaBoard Single Board Server */
        font-family: 'Rajdhani';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        /* or 125% */
        font-feature-settings: 'pnum' on, 'lnum' on;

        /* Basic/White */
        color: #FFFFFF;
      }

      .article_info {
        /* ZimaBoard - 01/06/2023 */
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        /* identical to box height, or 129% */
        font-feature-settings: 'pnum' on, 'lnum' on;

        color: #FFFFFF;
      }
    }

    @media (max-width: 376px) {
      .bgImg:not(:first-child) {
        display: none;
      }
      .bgImg {
        padding: 2rem;
        width: 327px;
        height: 438px;
      }
    }
  }

  .slideshow-article {
    //display: grid;

    .swiper {
      max-height: 31.5rem;
      height: 100%;
      //width: 896px;
      max-width: 56rem;
      width: 100%;

      .swiper-wrapper {
        height: 100%;
      }
    }

    @media (max-width: 376px) {
      .swiper {
        height: 184px;
        width: $mobile-content-width;
        overflow-x: clip;
      }
    }

    .swiper-button-next, .swiper-button-prev {
      border: 1px solid #1A1A1A;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background: hsla(0, 0%, 10%, 1);
      }
    }

    .swiper-pagination {
      .swiper-pagination-bullet {
        border-radius: 0;
        width: 20px;
        height: 3px;
        background: hsla(0, 0%, 100%, 1);
        opacity: .4;
      }

      .swiper-pagination-bullet-active {
        opacity: 1;
      }
    }

    @media (max-width: 376px) {
      //--swiper-pagination-bottom: 0;
      .swiper-pagination {
        //--swiper-pagination-bottom: -10px;
        bottom: -25px;

        .swiper-pagination-bullet {
          background: hsla(0, 0%, 0%, 1);
        }
      }
    }

    .bgImgSrc1 {
      background-image: url("../img/latest_news/1.png");
    }

    .bgImgSrc2 {
      background-image: url("../img/latest_news/1.png");
    }

    .bgImg {
      //background-size: cover;
      background-size: auto 100%;
      background-position: center;
      //height: 100%;
      height: 504px;
      //height: auto;
      //transform: scale(1);
      //width: auto;
      width: 100%;
      object-fit: cover;
      transition: background .5s;

      &:hover {
        background-size: auto 110%;
        //transform: scale(1.5);
      }

      .bgMask {
        height: 100%;
        width: 100%;
        padding: 2rem;
        background: linear-gradient(360deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
      }

      .article_tag {
        /* Latest News */
        font-family: 'Rajdhani SemiBold';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        /* identical to box height, or 129% */
        text-transform: uppercase;
        font-feature-settings: 'pnum' on, 'lnum' on;

        /* Basic/White */
        color: #FFFFFF;
      }

      @media (min-width: 377px) {
        .article_title {
          /* ZimaBoard Prime Discount Day -14th Of Each Month */
          font-family: 'Rajdhani';
          font-style: normal;
          font-weight: 700;
          font-size: 28px;
          line-height: 32px;
          /* identical to box height, or 114% */
          font-feature-settings: 'pnum' on, 'lnum' on;

          /* Basic/White */
          color: #FFFFFF;
        }
      }

      .article_info {
        /* ZimaBoard - 06/06/2023 */
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        /* identical to box height, or 129% */
        font-feature-settings: 'pnum' on, 'lnum' on;

        /* Basic/White */
        color: #FFFFFF;
      }
    }

    @media (max-width: 376px) {
      .bgMask {
        padding: 1rem;
      }

      .article_title {
        /* ZimaBoard Prime Discount Day -14th Of Each Month */
        font-family: 'Rajdhani';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        /* or 130% */
        font-feature-settings: 'pnum' on, 'lnum' on;

        /* Basic/White */
        color: #FFFFFF;
      }
    }
  }
}

footer {
  width: 100%;
  height: 448px;
  background: #101010;
  @media (max-width: 376px) {
    height: 412px;
  }
}
