@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

@import "fonts";
// @import "normalizer";
// @import "base";
// @import "header";
// @import "tailwindcss/base";

@import "c_header.scss";
@import "c_layout.scss";
@import "c_article.scss";


.main {
  max-width: $content-width;
  width: 100%;
  height: auto;
  margin-top: 3rem;
  // padding: 0 2rem;
  //display: grid;
  //section {
  //  display: grid;
  //}
}

@media (max-width: 481px) {
  .main {
    margin-top: 2rem;
    width: $mobile-content-width;
    height: auto;
    padding: 0;
  }
}

body{
  position: relative;
}
.gpx {
  padding-left: 6.25vw;
  padding-right: 6.25vw
}
@media (min-width: 640px) {
  .gpx {
    padding-left:2.5rem;
    padding-right: 2.5rem
  }
}
