@import "fonts";
@import "normalizer";
@import "base";
// @import "header";
@import "tailwindcss/base";

@import "c_header.scss";
@import "c_layout.scss";
@import "c_article.scss";


.main {
  max-width: $content-width;
  width: 100%;
  height: auto;
  margin-top: 3rem;
  padding: 0 2rem;
  //display: grid;
  //section {
  //  display: grid;
  //}
}

@media (max-width: 376px) {
  .main {
    margin-top: 2rem;
    width: $mobile-content-width;
    height: auto;
    padding: 0;
  }
}

  